body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background-color: #ffffff;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Roboto, system-ui, -apple-system,
      /* Firefox supports this but not yet `system-ui` */ 'Segoe UI',
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}